/* You can add global styles to this file, and also import other style files */
/**
 bg: #F0F5FB
 block: #CDDFFB
*/
body {
    
    background-color: #278DC5;
    background-image: radial-gradient( #71B987 20%, #278DC5 60%);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.page{
    border-radius: 1rem;
    background-color: rgba(231, 239, 250, 80%);
    height: calc(100vh - 3rem);
    overflow-y:scroll;
    padding: 1rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 3rem;
}

/**------------ 
Components 
-------------*/

/**
 comment-header
*/
.comment-header {
    width: 600px;
    margin: auto;
}

/**
comment-list
*/
.comment-list, .comment-form {
    width: 600px;
    margin: auto;
}


.comment-list {
    height: 70vh;
    padding: 0 3rem;
    overflow-y: scroll;
}

.comment-list .btn__purge:hover {
    background-color: #CE575D;
}

/**
comment
*/

.avatar {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8rem;
    margin-right: 20px;
    font-family: Chalkduster, fantasy;
    text-shadow: 1px 1px #ffffff;
    
}
.comment {
    background-color: #F0F5FB;
    border-radius: .75rem;
    margin: .75rem 0;
    padding: 1rem 2rem;
    
}

.comment:hover {
    background-color: #fffbeb;
}

ul .comment {
    list-style-type: none;
}

.comment .comment__author {
    font-weight: 500;
    font-size: .8rem;
}

.comment .comment__date {
    font-weight: 300;
    font-size: .8rem;
}

.comment .comment_message {
    margin: .75rem 0 0;
    font-weight: 400;
    font-size: 1rem;
}

/**
comment-form
*/

.comment-form input, .comment-form textarea {
    background-color: #FFFFFF;
    border: none;
    width: 100%;
    font-family: system-ui;
    
}


.comment-form input{
    padding: 1rem 0 1rem 1rem;
    border-radius: 1rem;;
    width: -webkit-fill-available;

}

.comment-form .post-comment__form {
    background-color: #FFFFFF;
    border-radius: 1rem;;
    padding: 1rem;
    margin-top:1rem;
    display: flex;
    justify-content: "flex-end";
    align-items: "flex-start";
    gap: 1rem;
}

.post-comment__form button {
    background-color: #BDEBCB;
    border: none;
    border-radius: .75rem;
    font-weight: 600;
    padding: .75rem 4.5rem;
    
}

.post-comment__form button:hover {
    background-color: #67CF87;
    cursor: pointer;
}


.btn__purge {
    background-color: #E96067;
    cursor: pointer;
    border: none;
    font-weight: 400;
    border-radius: .75rem;
    font-size: .8rem;
    padding: .25rem 1.5rem;
    float: right;
}

.username {
    line-height: 1.7rem;
}

